<h1>Responsive iFrames</h1>
<div class="row">
  <div class="col-lg-12">
    <div id="lc-new-question-widget"></div>
    <iframe id="responsive-frame" src="http://localhost:3000/questions/new.modal" scrolling="no" frameborder="0" style="display: block; overflow: hidden; width: 100%; height: 0; border: 3px solid #444;" />
  </div>
</div>
