<h1>Javascript widgets</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="lc-new-question-widget"></div>
    <script src="//localhost:3000/assets/embed/v1/sdk.js"></script>
    <script type="text/javascript">
      LiveCommunity.config({
        host: 'localhost:3000',
        product: {
          id: 123,
          name: 'TurboTax',
          platform: 'Online',
          edition: 'Basic'
        }
      });

      widget = new LiveCommunity.Widgets.newQuestion({
        el: '.lc-new-question-widget'
      });
    </script>
  </div>
</div>
